<!DOCTYPE html>
<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->
<html xmlns="http://www.w3.org/1999/xhtml" hasBrowserHandlers="true">
  <head xmlns="http://www.w3.org/1999/xhtml">
    <title>Insecure Connection</title>
    <link rel="stylesheet" href="aboutCertError.css" type="text/css" media="all" />
    <link rel="stylesheet" href="aboutCertError2.css" type="text/css" media="all" />
    <!-- This page currently uses the same favicon as neterror.xhtml.
         If the location of the favicon is changed for both pages, the
         FAVICON_ERRORPAGE_URL symbol in toolkit/components/places/src/nsFaviconService.h
         should be updated. If this page starts using a different favicon
         than neterror.xhtml nsFaviconService->SetAndLoadFaviconForPage
         should be updated to ignore this one as well. -->
    <link rel="icon" type="image/png" id="favicon" href="chrome://global/skin/icons/warning-16.png" />

    <script type="application/javascript"><![CDATA[
      function toggleVisibility(id)
      {
        var node = document.getElementById(id);
        node.style.visibility = node.style.visibility == "" ? "hidden" : "";
        // Toggling the advanced panel must ensure that the debugging
        // information panel is hidden as well, since it's opened by the
        // error code link in the advanced panel.
        if (id == "advancedPanel") {
          var div = document.getElementById("certificateErrorDebugInformation");
          div.style.display = "none";
        }
      }
    ]]></script>
  </head>

  <body xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
    <!-- PAGE CONTAINER (for styling purposes only) -->
    <div id="errorPageContainer">

      <!-- Error Title -->
      <div id="errorTitle">
        <h1 id="errorTitleText">Your connection is not secure</h1>
      </div>

      <!-- LONG CONTENT (the section most likely to require scrolling) -->
      <div id="errorLongContent">

        <!-- Short Description -->
        <div id="errorShortDesc">
          <p>The owner of <span class="hostname"><%= domain %></span> has configured their website improperly.  To protect your information from being stolen, Firefox has not connected to this website.</p>
        </div>
        <p hidden="true" id="badStsCertExplanation">This site uses HTTP
Strict Transport Security (HSTS) to specify that Firefox only connect
to it securely. As a result, it is not possible to add an exception for this
certificate.</p>

        <% if(condition == 1) { %>
        <p style="font-weight:bold">81.3% of people who saw this warning clicked "Get me out of here."</p>
        <% } else if(condition == 2) { %>
        <p style="font-weight:bold">Security experts strongly recommend clicking "Get me out of here."</p>
        <% } else if(condition == 3) { %>
        <p style="font-weight:bold">Clicking "Get me out of here" significantly reduces the risk of online fraud.</p>
        <% } else if(condition == 4) { %>
        <p style="font-weight:bold">Not clicking "Get me out of here" significantly increases the risk of online fraud.</p>
        <% } else if(condition == 5) { %>
        <p style="font-weight:bold">Clicking "Get me out of here" has been found to reduce the risk of online fraud by 81.3%.</p>
        <% } else if(condition == 6) { %>
        <p style="font-weight:bold">Clicking "Get me out of here" is enough to protect you from online fraud in many cases.</p>
        <% } %>

        <div>
          <p><a href="https://support.mozilla.org/kb/what-does-your-connection-is-not-secure-mean" id="learnMoreLink" target="new" data-track='firefox-new-learn-more'>Learn more…</a></p>
        </div>

        <div id="buttonContainer">
          <button id="returnButton" autocomplete="off" autofocus="true" data-track='firefox-new-go-back'>Go Back</button>
          <div id="buttonSpacer"></div>
          <button id="advancedButton" autocomplete="off" onclick="toggleVisibility('advancedPanel');" autofocus="true" data-track='firefox-new-toggle-advanced'>Advanced</button>
        </div>
      </div>

      <!-- UI for option to report certificate errors to Mozilla. -->
      <div id="certificateErrorReporting" style="display: block;">
        <p>
          <input type="checkbox" id="automaticallyReportInFuture" data-track='firefox-new-report-errors' />
          <label for="automaticallyReportInFuture" id="automaticallyReportInFuture">Report errors like this to help Mozilla identify misconfigured sites</label>

          <span id="reportingState">
            <button id="reportCertificateErrorRetry">Try again</button>
            <span id="reportSendingMessage">Sending report</span>
            <span id="reportSentMessage">Report sent</span>
          </span>
        </p>
      </div>

      <!-- Advanced panel, which is hidden by default -->
      <div id="advancedPanel" style="visibility: hidden;">
        <p id="technicalContentText"><%= domain %> uses an invalid security certificate.

The certificate is not trusted because it is self-signed.

Error code: <a id="errorCode" title="SEC_ERROR_UNKNOWN_ISSUER"
    onclick="toggleCert();"
    href="#technicalInformation">SEC_ERROR_UNKNOWN_ISSUER</a>
</p>
        <button id="exceptionDialogButton" data-track='firefox-new-add-exception' data-proceed='1'>Add Exception…</button>
      </div>
    </div>

    <div id="certificateErrorDebugInformation" style="display: none;">
      <a name="technicalInformation"></a>
      <button id="copyToClipboard">Copy text to clipboard</button>
      <div id="certificateErrorText">https://<%= domain %>/

Peer's Certificate issuer is not recognized.

HTTP Strict Transport Security: false
HTTP Public Key Pinning: false

Certificate chain:

-----BEGIN CERTIFICATE-----
MIIDhjCCAm6gAwIBAgIJAJz01Wfo02AcMA0GCSqGSIb3DQEBCwUAMGIxCzAJBgNV
BAYTAlVTMRMwEQYDVQQIDApDYWxpZm9ybmlhMRYwFAYDVQQHDA1TYW4gRnJhbmNp
c2NvMQ8wDQYDVQQKDAZCYWRTU0wxFTATBgNVBAMMDCouYmFkc3NsLmNvbTAeFw0x
NTA4MjgwMTIwNDZaFw0xNzA4MjcwMTIwNDZaMGIxCzAJBgNVBAYTAlVTMRMwEQYD
VQQIDApDYWxpZm9ybmlhMRYwFAYDVQQHDA1TYW4gRnJhbmNpc2NvMQ8wDQYDVQQK
DAZCYWRTU0wxFTATBgNVBAMMDCouYmFkc3NsLmNvbTCCASIwDQYJKoZIhvcNAQEB
BQADggEPADCCAQoCggEBAMIE7PiM7gTCs9hQ1XBYzJMY61yoaEmwIrX5lZ6xKyx2
PmzAS2BMTOqytMAPgLaw+XLJhgL5XEFdEyt/ccRLvOmULlA3pmccYYz2QULFRtMW
hyefdOsKnRFSJiFzbIRMeVXk0WvoBj1IFVKtsyjbqv9u/2CVSndrOfEk0TG23U3A
xPxTuW1CrbV8/q71FdIzSOciccfCFHpsKOo3St/qbLVytH5aohbcabFXRNsKEqve
ww9HdFxBIuGa+RuT5q0iBikusbpJHAwnnqP7i/dAcgCskgjZjFeEU4EFy+b+a1SY
QCeFxxC7c3DvaRhBB0VVfPlkPz0sw6l865MaTIbRyoUCAwEAAaM/MD0wCQYDVR0T
BAIwADALBgNVHQ8EBAMCBeAwIwYDVR0RBBwwGoIMKi5iYWRzc2wuY29tggpiYWRz
c2wuY29tMA0GCSqGSIb3DQEBCwUAA4IBAQAVIAuObGCbdR7kuSlbzSSFKEPiJVxK
qQfLMmJ8MfcwOYj4sQ6J8w0jRjyoThw5Uuij7/ewCDCMydd2Ao5iNrrBNyYgc3xN
Bg4cpHSQ2YeCA8RH6dLlSS6BK0aEvXf2268DFgGYtAxf+CJOprqodxd8mBEa5nYL
wlA60SiT0kRY3ASSURtgMjNMKw492Gd5eF/YG94Y4t4UqNMok9YKtJs4HLx/uqXM
u0H/lCumIUKqCcSwpaj1iwYpWeNT3llq+weQUGPV3rMLXZqaCXynz/cxzlmg1cEs
UK4zrvqIB6ah1dFxiuXEBYMejxo6eFliMHG7nTv10jpiv4wgqi4q5VGk
-----END CERTIFICATE-----
</div>
      <button id="copyToClipboard">Copy text to clipboard</button>
    </div>

    <script>
        function toggleCert() {
          var div = document.getElementById("certificateErrorDebugInformation");
          if (div.style.display == "block") {
            div.style.display = "none";
          } else {
            div.style.display = "block";
            div.scrollIntoView(true);
          }
         }
  </script>
  <script type="text/javascript" src="/js/events.js"></script>
  </body>
</html>
